<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371206543560-i3ff8as7ujmfu5nnv1sftt4tbq5oosmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371206543560-i3ff8as7ujmfu5nnv1sftt4tbq5oosmp</string>
	<key>API_KEY</key>
	<string>AIzaSyBsNfRMHKEImLNTj0GfzxdkS1D6lQnfvoI</string>
	<key>GCM_SENDER_ID</key>
	<string>371206543560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mjedrzejak.Firebase-Login</string>
	<key>PROJECT_ID</key>
	<string>fir-login-7a6a4</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-login-7a6a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371206543560:ios:9ff6baa9aaaf2abf0d2dfd</string>
</dict>
</plist>